@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, input, label, button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
}

.App {
  text-align: center;
}

#dateForm {
  width: 500px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: calc(50vh - 160px);
}

#dateForm h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
  border-bottom: 3px solid rgb(255,200,190);
}

form {
  width: 400px;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin: 0 auto;
}

form label, form input {
  font-size: 24px;
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 2em;
  margin-bottom: 10px;
  text-align: center;
}

form button {
  font-size: 24px;
  width: 100%;
  line-height: 3em;
  border: none;
  background: rgb(60,60,60);
  border-radius: 5px;
  color: white;
  cursor: pointer;

  transition: 0.1s ease-in-out;
}

form button:hover {
  transform: scale(1.05);
}

form .dateInput {
  width: 15%;
}

form .dateInput:nth-of-type(3) {
  width: 20%;
}

#calendarContainer {
  width: calc(100% - 500px);
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(60,60,60);
}

#calendar {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  text-align: left;
  border: 3px solid rgb(60,60,60);
}

#noDates {
  line-height: 100vh;
  font-size: 2.5vw;
  color: white;
}

#calendar p {
  display: inline-block;
  font-size: 18px;
  font-size: 1.75vw;
  line-height: 2.5em;
  color: rgb(60,60,60);
  margin: 0;
  text-align: center;
}

.month {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 24px;
  font-size: 2.5vw;
  line-height: 2.2em;
  margin: 0;
  position: sticky;
  background: rgb(60,60,60);
  top: calc(1.75vw * 1.5);
}

.wd {
  width: calc(100% / 7);
  background: rgb(180,255,180);
  transition: 0.1s ease-in-out;
  cursor: default;
  border: 1px solid rgb(60,60,60);
}

.wd:not(.wdX):hover {
  transform: scale(1.1);
}

.wd0 { background: rgb(255,255,180); }
.wd6 { background: rgb(255,255,180); }
.wdX { background: rgb(70,70,70); border: none; }

.holiday {
  background: rgb(255,200,190);
}

#calendar p.legend {
  background: rgb(110,110,110);
  border-bottom: 2px solid rgb(60,60,60);
  position: sticky;
  line-height: 1.5em;
  top: 0;
}

@media (max-width: 920px) {
  #dateForm {
    width: 100%;
    position: relative;
    height: auto;
    padding: 30px;
    min-width: 0;
  }

  #dateForm h1 {
    font-size: 48px;
  }

  #calendarContainer {
    width: 100%;
    position: relative;
  }

  form {
    width: auto;
    max-width: 400px;
  }

  #calendar {
    width: 90%;
    min-width: 0;
  }

  .month {
    font-size: 6vw;
  }

  #calendar p {
    font-size: 4vw;
  }

  #calendar .month {
    top: calc(4vw * 1.5);
  }
}